<h1>Create Organization</h1>

<div class="row">
  <form class="block-form view-form col-xs-12 col-md-12 col-lg-12">

    <div id="template-field-organization-title" class="form-group template-field template-field-text-input">
      <h6 class="template-field-header">Title</h6>
      <input class="template-field-value" type="text" autofocus />
    </div>

    <div id="template-field-organization-description" class="form-group template-field template-field-text-input">
      <h6 class="template-field-header">Description</h6>
      <input class="template-field-value" type="text" />
    </div>

    <footer class="template-footer">
    <button id="form-submit" class="btn btn-primary btn-lg btn-submit" href="#">
      <span class="btn-auth-text">Save</span>
    </button>
    </footer>

  </form>
</div>
