.dropdown, .dropdown-toggle {

  &:hover .dropdown-menu, &:hover + .dropdown-menu {
    display: block;
  }

  + .dropdown-menu, .dropdown-menu {
    margin-top: 0;
  }

}

.btn-group .dropdown, .btn-group .dropdown-toggle {
  padding: 12px 15px;
}
