.list-view {

  li {
    background-color: #fff;
    color: #000;
    display: block;
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;

    &:hover {
      background-color: #f0f0f0;
    }

    a {
      display: block;
    }
  }

}
